.main1 {
    background: url('../../../assets/images/fundoamarelo.png') no-repeat center fixed ;
    background-size: cover;
    width: 100%;
    height: 60em;
    font-weight: bold;
    margin-right: 30px;
    overflow: hidden;
    


    .Div-Mae-Input {
    background: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;

    width: 20em;
    background-color: #ffff;
    
   }

   .entrar{
    margin-top: 1vh;
   }

   .div-p{
    font-size: 13px;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    padding-right: 25em;
    margin-bottom: 0.3em;

   }

   .div-p2{
    display: flex;
    font-size: 13px;
    font-family:sans-serif;
    padding-top: 1em;
    justify-content: center;
    padding-right: 30em;
    margin-bottom: 0.3em;
   }

   .div-p3{
    font-size: 13px;
    font-family:sans-serif;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    padding-right: 29em;
    margin-bottom: 0.3em;
   }

   .div-p4{
    font-size: 13px;
    font-family:sans-serif;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    padding-right: 28em;
    margin-bottom: 0.2em;
   }

   .div-p5{
    font-size: 13px;
    font-family:sans-serif;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    padding-right: 27em;
    margin-bottom: 0.2em;
   }


   .p{
    font-family: 'font3';
    display: flex;
    
   }


section {
    margin-top: 20px;
}

.Input-Email {
    border: 1px solid white;
    height: 3em;
    width: 33em;
    outline: none;
    text-indent: 10px;
    
 
}

.Div-Mae-Input{
    width: 27.5em;
    
}

.Div-imagem-Input {
    border-right: none;
    margin-right: 0px;
    width: 10em;
    
    
}

.Div-Mae-Input-Senha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2em;
}

.Input-Senha {
    border-left: none !important;
    border: 1px solid white;
    height: 3em;
    width: 33em;
    margin-top: 0.3em;
    align-self: center;
    outline: none;
    text-indent: 10px;
}

.Input-Data{
    border-left: none !important;
    border: 1px solid white;
    height: 3em;
    width: 33em;
    margin-top: 0.3em;
    align-self: center;
    outline: none;
    text-indent: 5px;
    font-family: 'font3';
}

.Div-imagem-Input-Senha {
    border-right: none;
    margin-right: 0px;
    margin-top: 20px;

    background-color: white
    
}


.Div-Meio-Login {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    margin-top: 2em;
    margin-left: 4em;
}

.Img-Logo {
    width: 150px;
    padding-bottom: 2em;
}

h2 {
    font-size: 25px;
}

.Div-Button {
    margin-top: 15px;
   align-self: center;
   margin-top: 2em;
   
   }

.botao-home{
    font-family: 'font8';
    font-size: 1.5em;
    cursor: pointer;
}

button {
    font-family: 'font7';
    background-color: black;
    color: white;
    height: 2.5em;
    width: 12em;
    size: 10px;

    
}

.botao-registrar{
    background-color: black;
    font-size: 18px;
    width: 15em;
    cursor: pointer;
    

    
}
.botao-registrar:hover{
   
    transform: scale(1.1);
    border-radius: 5px;

    
}
.login-administrativo {
    font-family: 'font4';
    font-size: 2em;
    padding-bottom: 0.6em;

}

.Width-Img-Cadeado {
    width: 20px;
}

.Width-Img {
    width: 20px;
    background-color: w;
}

.registrar{
    font-family: 'font6';
    margin-top: 1em;
}

.a-cor{
    cursor: pointer;
    color: #0038FF;
}

::placeholder {
    color: #909090;
    font-family: 'font3';
    font-size: 15px;


}

}


