.main-carrinho {


    .header-carrinho {
        display: flex;
        flex-direction: row;
    }

    .div-primeira-fileira {
        display: flex;
        flex-direction: row;        
    }


    .div-segunda-fileira {
        display: flex;
        flex-direction: row;
    }

    .div-terceira-fileira {
        display: flex;
        flex-direction: row; 
    }
}