.main-carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/images/fundoamarelo.png');
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;

    // * {
    //     border: 1px solid black;
    // }

    .header-carrinho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 300px;
        align-items: center;
        width: 73%;
        margin-bottom: 50px;
    }

    .div-header-logo {
        margin-right: 30px;
    }

    .div-row-header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
    }

    .a-header-botoes {
        margin-right: 30px;
    }
    .div-img-info {
        display: flex;
        flex-direction: row;
        padding: 1em;
    }


    .section-carrinho {
        width: 90%;
        margin-top: 3em;
        background-color: white;
    }

    .div-row-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-collapse: collapse;
    }

    .div-informacoes {
        display: flex;
        flex-direction: row;
        border-bottom: 0.5px solid black;

    }

    .div-info {
        display: flex;
        flex-direction: column;    
    }


    .div-produto {
        padding: 10px 30em 10px 15px;
        border-bottom: 0.5px solid black;
        border-right: 0.5px solid black;
        border-collapse: collapse;
    }  

    .div-excluir {
        padding: 10px 11.75em 10px 15px;
        border-bottom: 0.5px solid black;
        border-right: 0.5px solid black;
        border-collapse: collapse;
    }

    .div-qtd {
        padding: 10px 11.3em 10px 15px;
        border-bottom: 0.5px solid black;
        border-right: 0.5px solid black;
        border-collapse: collapse;
    }

    .div-preco {
        padding: 10px 11.3em 10px 15px;
        border-bottom: 0.5px solid black;
        border-right: 0.5px solid black;
        border-collapse: collapse;
    }

    .div-preco-info {
        padding: 5px 15.25em 5px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 0.5px solid black;
        border-left: 0.5px solid black;
    }
    
    .p-info {
        padding: 5px 20px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .div-info {
        margin-right: 9.85em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div-row-qtd {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-right: 0.5px solid black;
    }

    label {
        margin-left: 20px;
        margin-right: 15px;

    }

    select {
        margin-right: 12.7em;
    }

    .div-botoes {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 2.5em;
        align-items: center;
        background-color: black;
    }

    .button-1 {
        padding: 15px 1em;
        border-radius: 8px;
        background-color: white;
    }

    .button-2 {
        padding: 20px 3.5em;
        margin-left: 40px;
        margin-right: 50px;
        border-radius: 8px;
        color: white;
        background-color: red;
    } 

    .div-total {
        padding: 2em;
    }

    input {
        padding: 10px 60px;
        text-align: start;
        border-radius: 8px;
    }



    







    // .div-primeira-fileira {
    //     display: flex;
    //     flex-direction: row;
    //     border: 1px solid black;
    //     justify-content: space-around;
    // }

    // .div-segunda-fileira {
    //     display: flex;
    //     flex-direction: row;
    //     border: 1px solid black;
    // }

    // .div-produtos {
    //     padding: 90px 0px;
    // }

    // .div-terceira-fileira {
    //     display: flex;
    //     flex-direction: row;
    //     border: 1px solid black;
    //     background-color: black;
    //     padding: 30px;
    //     justify-content: flex-end;
    //     align-items: center;
    // }

    // .div-button-continuar {
    //     margin-right: 80px;
    // }

    // .div-button-finalizar {
    //     margin-right: 100px;
    // }

    // .button-comprar {
    //     background-color: white;
    //     cursor: pointer;
    //     padding: 10px 15px;
    //     font-size: 11.3px;
    //  
    //    font-weight: bold;
    //     border-radius: 5px;
    // }

    // .button-finalizar {
    //     background-color: red;
    //     cursor: pointer;
    //     color: white;
    //     font-size: 15px;
    //     padding: 15px 25px;
    //     border-radius: 5px;
    // }

    // .div-p-preco-unitario {
    //     border-right: 1px solid black;
    // }

    // .p-preco-unitario {
    //     text-align: center;
    // }

    // .div-p-produto {
    //     border-right: 1px solid black;
    //     padding: 10px 20px;
    //     align-items: flex-start;
    // }

    // .div-quantidade {
    //     border-right: 1px solid black;
    //     padding: 10px 15px;
    // }

    // .div-excluir {
    //     padding: 10px 15px;
    // }

    // .div-espacamento-info {
    //     display: flex;
    //     flex-direction: row;
    // }

    // .input-pesquisar {
    //     padding: 10px 30px;
    //     border: none;
    // }
    // .section-carrinho {
    //     width: 90%;
    // }

    // .div-total-itens {
    //     margin-right: 50%;
    // }

    // .div-p-calcular {
    //     margin-right: 15%;
    //     border-right: 1px solid black;
    // }
    // .div-p-total {
    //     border-left: 1px solid black;
    // }

    // .div-total-itens {
    //     border-right: 1px solid black;
    // }
    
}