.main-perfil{
    display: flex;
    background-color: #F6F6F6;
    
    .section-perfil{
        background-color: #FFFFFF;
        width: 971px;
        height: 498px;

        display: flex;
        align-items: center;
        justify-content: center;


    }

    .div-foto-perfil{
        background-color: #D9D9D9;
        width: 263px;
        height: 250px;
        border-radius: 10px;

   margin-right: 5em;
    }

    .span-perfil{
        background-color: #D9D9D9;
        width: 360px;
        height: 50px;
    }

    .perfil{
        display: flex;

    }
    .spans{
        display: flex;
        flex-direction: column;
    }
   
    
    .botao-salvar-perfil{
        width: 149px;
        height: 38px;
        background-image: url('../../../../public//assets/images/salvaramarelo.png');
        border: none;
        cursor: pointer;
    
        font-family: 'font7';
        font-size: 22px;
        color: #FFFFFF;
    
        margin: 2em;
    
    }
    
  

}    

