.main-perfil{
    display: flex;
    background-color: #F6F6F6;
    

    .section-perfil{
        display: flex;
        align-items: center;
       justify-content:center ;
        width: 90vw;
      
    }
    .div-perfil{
        background-color: #FFFFFF;
        width: 971px;
        height: 498px;

        display: flex;
        align-items: center;
        justify-content: center;

    

    }
    .titulo-input-perfil-tele
    {
        
font-size: 20px;
    }
 
    .titulo-input-perfil-nome
    {
        margin-right: 1.2em;
font-size: 20px;
    }
    .titulo-input-perfil-email{
        margin-right: 1.5em;
        font-size: 20px;
    }
    .div-editar{
        background-color: #D9D9D9;
        width: 263px;
        height: 250px;
        border-radius: 10px;
       background-image: url('../../../../public/assets/images/homemper.png');
       background-repeat:no-repeat;
       background-position: center;

       display: flex;
       flex-direction: column;

   margin-right: 5em;
 
 
    }

    .tamanho-foto{
        width: 263px;
        height: 250px;
        border-radius: 10px;
    }
    #foto-perfil{
        visibility: hidden;
        position: absolute;
    }
    .editar-foto{
   margin: 1em;
        width: 29px;
        height: 24px;
        cursor: pointer;
           }
   
    
    .span-perfil{
        background-color: #E9E9E9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        width: 360px;
        height: 50px;

       margin-left: 1em;
       display: flex;
       flex-direction: column;
       justify-content: right;
    }

    .perfil{
        display: flex;
        padding: 1em;

    }
    .spans{
        display: flex;
        flex-direction: column;
        
       
    }
  
    .botao-salvar-perfil{
        width: 149px;
        height: 38px;
        background-image: url('../../../../public//assets/images/salvaramarelo.png');
        border: none;
        cursor: pointer;
    
        font-family: 'font7';
        font-size: 19px;
        color: #FFFFFF;
    
    
        
    }

    .div-botao{
        display: flex;
        justify-content: flex-start;
        margin-left: 4em;
    }

    #foto-perfil{
        visibility: hidden;
        position: absolute;
    }
    
    .inserir{
        cursor: pointer;
    }
  

}    

