.main-menu-usuario {
    width: 100%;
    height: 10%;
    background-repeat: none;


    .header-menu-usuario {
        display: flex;
        flex-direction: row;
        background-image: url('../../../../public/assets/images/fundo-amarelo-maior.png');
        height: 100px;
    }

    .div-cabecalho-opcoes{
        display: flex;
        flex-direction: row;
        margin-top: 0.5em;
        margin-left: 8em;
    }

    .a-header-menu-usuario {
        list-style: none;
        padding: 30px 0px 0px 60px;
        font-family: 'font4';
        font-size: 20px;
        margin-left: 6em;

    }



    .div-img-cabecalho-logo {
        align-self: center;
        margin-left: 5em;
        padding-left: 15em;
    } 

    .numero-cabecalho{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        margin-left: 25em;
        font-size: 15px;
    }

    .p-cima-numero {
        font-family: 'font4';
        font-size: 15px;
        margin-left: -0.5em;
    }

    .p-baixo-numero {
        font-family: 'font4';
        font-size: 21px;
    }

    .div-row-icons{
        margin-left: 3em;
        margin-right: 1em;
    }

    .div-icons-header{
        margin-top: 2em;
    
    
    }

    .imagem-header-icon1{
       margin-right: 0.5em;
       cursor: pointer;
    }

    .imagem-header-icon2{
        cursor: pointer;
     }
    

  

    .div-cabecalho {
        display: flex;
        flex-direction: row;
    }

   


    .div-collum-header {
        display: flex;
        flex-direction: column;
    }

    .div-cabecalho-direita {
        display: flex;
        flex-direction: row;
    }

    

    .div-row-icons {
        display: flex;
        flex-direction: row;
    }

    .imagem-logo-menu-usuario {
        width: 6em;
        margin-left: 5em;
    }


    .div-propaganda-menu-usuario{
        background-image: url('../../../assets/images/propaganda.png'); 
        background-repeat: no-repeat;      
        margin-top: 2em;
        margin-left: 26em;
        height: 24em;
        width: 50em;
        background-size: 830px;
    

    }

    .section-menu-usuario{
        display: flex;
        flex-direction: column;
    }

    .div-opcao-salgada{
        display: flex;
        flex-direction: row;
        border: 3px solid black;
        margin-left: 18em;
        width: 65em;
        border-radius: 5px; 
        box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.281);
        border: none;
    }

    .div-opcao-doce{
        display: flex;
        flex-direction: row;
        border: 3px solid black;
        margin-top: 3em;
        margin-left: 18em;
        width: 65em;
        border-radius: 5px; 
        box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.281);
        border: none;
    }

    .div-opcao-bebidas{
        display: flex;
        flex-direction: row;
        border: 3px solid black;
        margin-top: 3em;
        margin-left: 18em;
        width: 65em;
        border-radius: 5px; 
        box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.281);
        border: none;
    }

    .p-opcao1{
       font-family: 'font4';
       font-size: 30px;
       margin-top: 1.5em;
       margin-left: 1em;
      
    }

    .p-opcao2{
        font-family: 'font4';
        font-size: 30px;
        margin-top: 1.8em;
        margin-left: 1em;
    }

    .p-opcao3{
        font-family: 'font4';
        font-size: 30px;
        margin-top: 1.5em;
        margin-left: 2.5em;
    }

    .rodape-menu{
        margin-top: 10em;
    }


    a{
        text-decoration: none;
        color: black;
    }

}