.page-toda {
    display: flex;

}

.div-qrpix{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1qr {
    margin-bottom: 1em;
    font-size: 24px;
}

.h1-div {
    padding: 3em;
}
