.Divzona-senha {
    background: url('../../../assets/images/fundoamarelo.png') no-repeat center fixed ;
    background-size: cover;
    width: 100%;
    height: 71.65em;
    font-weight: bold;
    margin-right: 30px;
    overflow: auto;
    

    .Div-Mae-Input {
    background: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;

    width: 17em;
    background-color: white;
    
    
   }
   .entrar{
    margin-top: 1vh;
   }

   .Div-logo-home{
    display: flex;
    width: auto;
    align-items: center;
}


section {
    margin-top: 20px;
}

.Input-Email {
    border-left: none !important;
    border: 1px solid white;
    height: 3em;
    width: 24.1em;
    outline: none;
    text-indent: 10px;
}

.Div-imagem-Input {
    border-right: none;
    margin-right: 0px;
    width: 10em;
    
    
}

.Div-Mae-Input-Senha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2em;
}

.Input-Senha {
    border-left: none !important;
    border: 1px solid white;
    height: 3em;
    width: 24em;
    margin-top: 0.3em;
    align-self: center;

}

.Div-imagem-Input-Senha {
    border-right: none;
    margin-right: 0px;
    margin-top: 20px;

    background-color: white
    
}

.div-p2{
    display: flex;
    font-size: 13px;
    font-family:sans-serif;
    padding-top: 2em;
    justify-content: center;
    padding-right: 17em;
   }


.Div-Meio-Login {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    margin-top: 2em;
    margin-left: 4em;
}

.Img-Logo {
    
    width: 100px;
    
}



h2 {
    font-size: 25px;
}

.Div-Button {
    margin-top: 13px;
    align-self: center;
    margin-top: 2em;
   }

.botao-home{
    font-family: 'font8';
    font-size: 1.5em;
    cursor: pointer;
}

button {
    font-family: 'font7';
    background-color: black;
    color: white;
    height: 2.5em;
    width: 12em;
    size: 10px;

    
}

.botao-enviar{
    background-color: black;
    font-size: 18px;
    cursor: pointer;
    
    
}

.recuperar-senha {
    font-family: 'font4';
    font-size: 1.7em;
    padding-top: 1em;
    padding-bottom: 0.5em;

}

.Width-Img-Cadeado {
    width: 20px;
}

.Width-Img {
    width: 20px;
    background-color: w;
}

.p{
    font-family: 'font3';
}

::placeholder {
    color: #909090;
    font-family: 'font3';
}

}


