.megadiv{
    display:flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255); 
    


.Div-Agrupadora-todos{
    display: flex;
    flex-direction: row;
}

.Lado-Esquerdo-Informações{
    display: flex;
    flex-direction: column;
   
}

.Lado-Direito-Informações{
    display: flex;
    flex-direction: column;
 
}

.inf-post{
    font-family: 'font4';
    color: black;
  letter-spacing: 3px;
}

.Desc{
    height: 6em;
    width: 15em;
   resize: none;
}

.Impt-Arquivo{
    font-family: 'font7';
}

.Span{
    font-family: 'font2';
}

.Span-2{
    font-family: 'font2';

}

}                                                                                         