.megadiv{
    display:flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255); 
    


.Div-Agrupadora-todos{
    display: flex;
    flex-direction: row;
}

.Lado-Esquerdo-Informações{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    padding-left: 6em;
   
}

.Lado-Direito-Informações{
    display: flex;
    flex-direction: column;
    margin-top: 8em;
    padding-left: 12em;
}

.inf-post{
    font-family: 'font4';
    color: black;
  letter-spacing: 3px;
}

.Desc{
    height: 6em;
    width: 15em;
   resize: none;
}

.Impt-Arquivo{
    font-family: 'font7';
}

.Span{
    font-family: 'font2';
}

.Span-2{
    font-family: 'font2';

}

.Span-3{
    font-family: 'font2';
    margin-bottom: 0.3em
}

.Span-4{
    font-family: 'font2';
    margin-top: 0.5em; 
    margin-bottom: 0.5em

}

.div-agrupamais{
    display: flex;
    flex-direction: row;
}

.H1-lado-Direito{
  display: flex;
  justify-self: center;
}

.div-Importar-Foto{
    margin-top: 2em;
}

.Div-Span-Input{
    margin-top: 2em;
}

.Div-Span-Input-2{
    margin-top: 0.5em;
}

.Div-Span-Input-3{
    margin-top: 0.5em;
}



.Div-Botoes-Categoria{
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
}

.imp-salgada{
    width: 5em;
    height: 1.5em;
    
}

.imp-doce{
    margin-left: 1em;
    width: 5em;
}

.imp-bebida{
    margin-left: 1em;
    width: 5em;
}

.P-Categoria{
    padding-left: 7px;
    font-family: 'font3';
    margin-left: -1.5em;
}

.P-Categoria-2{
    padding-left: 7px;
    font-family: 'font3';
    margin-left: -1.5em;
}

.P-Categoria-3{
    padding-left: 7px;
    font-family: 'font3';
    margin-left: -1.5em;
}

input[type=checkbox]{
    margin: solid 1em black;
    width: 1.5em;
    
    
}

.Preco-Nome{
    width: 28em;
    height: 2em;
    padding-left: 0.5em;
    outline: none;
}

.Desc{
    width: 28em;
    height: 10em;
    padding-left: 0.5em;
    outline: none;
}

.Button-Publicar{
    background: url('../../../../public/assets/images/verdao.png');
    height: 2.3em;
    width: 18em;
    margin-left: 3em;
    font-family: 'font7';
    font-size: 1em;
    color: white;
    border: none ;
    
}

}

                                                                                       