.main-consultarprodutos {
    display: flex;
    flex-direction: row;



    .div-agrupadora-header {
        display: flex;
        flex-direction: row;
    }


    .div-itens-header {
        padding: 2em 0em 0em 3em;
    }


    .div-teste {
        display: flex;
        flex-direction: row;
    }

    .div-row-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .p-header {
        font-weight: bold;
    }



    .img-logo-header {
        width: 4em;
        margin-right: 10px;
    }


    .div-input {
        padding-left: 12em;
        padding-top: 10px;
    }


    .input-header {
        padding: 10px 70px 10px 10px;
        border-radius: 5px;
        border: 1px solid black;
        text-decoration: none;
        font-size: 1em;

        .input-header:hover {
            cursor: pointer;
        }
    }

    .tag-table {
        border-collapse: collapse;
        margin-top: 50px;
        margin-left: 1.5em;
        width: 55em;
    }

    .tag-td {
        border: 0.5px solid black;
        border-collapse: collapse;
        padding: 0px 0px 0px 5px;
    }


    .th-tag {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: left;
        padding: 0px 100px 0px 5px;
    }

    .tr-mudarcor:hover {
        background-color: rgb(255, 255, 140);
    }

    

}