.main-pagina-detalhes-pizza {

    .header-detalhes-pizza {
        display: flex;
        flex-direction: row;
    }


    .div-cabecalho {
        display: flex;
        flex-direction: row;
    }



    .div-row-conteudo-detalhe {
        display: flex;
        flex-direction: row;
    }


    .div-formas-pagamento {
        display: flex;
        flex-direction: row;
    }

    .div-row-formas-pagamento {
        display: flex;
        flex-direction: row;
    }



}