*{
    margin: 0px;
    padding: 0px;
    
}

.menu{
    display: flex;
    background-image: url('../../assets/images/fundoazul.png');
    background-size: cover;
    width: 15em;
    background-repeat: none;
    flex-direction: column;






.text-1{
    display: flex;
    font-size: 0.8em;
    align-items: center;
    justify-content: center; 

   
}

.text-2{
    display: flex;
    font-size: 0.8em;
    color: black;

    align-items: center;
    justify-content: center; 
    padding-top: 50px;
   
    margin-left: 3em;
}

.text-3{
    display: flex;
    font-size: 0.8em;
    color: black;
    align-items: center;
    justify-content: center; 
    padding-top: 40px;
}

.text-4{
    display: flex;
    font-size: 0.8em;
    color: black;
    align-items: center;
    justify-content: center; 
    padding-top: 40px;
    
}

.text-5{
    display: flex;
    font-size: 0.8em;
    color: black;
    align-items: center;
    justify-content: center; 
    padding-top: 40px;
}

.text-menu{
    padding: 10px ;
}

}